.everydaysdiv {
    height: 100%;
    background-color: black;
    width: 100%;
    border-radius: 5px;
    overflow-y: auto hidden;
    border-bottom: 1px white solid;
    overflow-x: hidden;
}

.everydayrow {
    display: flex;
    flex-direction: row;
    background-color: rgba(128, 128, 128, 0.777);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.complete {
    border-top: 1px green solid;
    border-bottom: 1px green solid;
    background-color: rgba(133, 200, 133, 0.273);
}

.everydaytitle {
    white-space: nowrap;
    font-size: large;
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
    color: white;
}

@keyframes showaddeveryday {
    from {
        height: 0;
    }
    to {
        height: 18vh;
    }
}

@keyframes hideaddeveryday {
    from {
        height: 18vh;
    }
    to {
        height: 0;
    }
}

.addEverydayDiv {
    height: 0px;
    overflow: auto;
    background-color: rgba(128, 128, 128, 0.273);
    animation: hideaddeveryday .5s ease-out 0s 1 both;
    overflow: hidden;
}

.active {
    height: fit-content;
    overflow: auto;
    background-color: rgba(128, 128, 128, 0.273);
    margin-bottom: 10px;
    animation: showaddeveryday .5s ease-in 0s 1 both;
    overflow: hidden;
}

.everydaytitleinput{
    width: 97%;
    border: none;
    border-bottom: 2px white solid;
    background-color: rgba(128, 128, 128, 0.273);
    padding: 5px;
    margin-bottom: 10px;
    height: 3vh;
    color: white;
    font-weight: 400;
}

.enddatediv {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: 7vh;
}

label {
    color: white;
}

.addbtn {
    margin: 1vh;
    height: 3vh;
    background-color: transparent;
    border: 2px white solid;
    color: white;
    width: 15vw;
}

.addbtn:hover{
    background-color: lightgray;
    cursor: pointer;
}

.enddateinput {
    height: 3vh;
    margin-bottom: 5px;
}

.done_btn {
    height: 3vh;
    margin-right: 10px;
    background-color: rgba(128, 128, 128, 0.777);
    border: 2px white solid;
    color: white;
    width: 5vw;
    border-radius: 2px;
}

.done_btn:hover{
    background-color: lightgray;
    cursor: pointer;
}

.done_msg {
    height: 3vh;
    margin-right: 10px;
}

.addeverydaybtn {
    width: 15vw;
    height: 4vh;
    background-color: lightgray;
    border: 3px white solid;
    margin-bottom: 5px;
}

.addeverydaybtn:hover{
    cursor: pointer;
    background-color: gray;
}